{% extends 'FoodApp/base.html' %}
{% load static %}
{% block carttotal %}
    <div class="blogheads">
        <h1>Cart Total</h1>
        <p><a href="#"> Home >></a> <span>Cart Total</span> </p>
    </div>

     
    <section id="carttotal" class="container mt-3">
        <table width="100%">
            <thead>
                <tr >
                    <td>Product Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Total</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                 <!-- <tr>
                    <td>
                       <img src="{% static 'images/sam.png' %}" alt="">
                    </td>
                    <td>
                        <h6>
                            Samosa-Pakauda
                        </h6>
                    </td>
                    <td>
                        <h6>RS 400</h6>
                    </td>
                    <td>
                        <input class="numlength" type="number" id="num" value="1" >
                    </td>
                    <td>
                       <h6> Rs 800</h6>
                    </td>
                    <td>
                        <a href=""><i class="fa fa-times" aria-hidden="true"></i></a>
                      
                    </td>
                </tr>  -->
                
                <!-- <tr>
                    <td>
                       <img src="{% static 'images/cat-6.png' %}" alt="">
                    </td>
                    <td>
                        <h6>
                           Caffe-Latte
                        </h6>
                    </td>
                    <td>
                        <h6>RS 300</h6>
                    </td>
                    <td>
                        <input class="numlength" type="number" id="num" value="1" >
                    </td>
                    <td>
                       <h6> Rs 600</h6>
                    </td>
                    <td>
                        <a href=""><i class="fa fa-times" aria-hidden="true"></i></a>
                    </td>
                </tr>  -->
                 <!-- {% for item in items %}
                
               
                <tr>
                    <td>
                        <img src="{{item.product.productImage.url}}" alt="">
                    </td>
                    <td>{{item.product.productName}}</td>
                    <td>Rs.{{item.product.price}}</td>
                    <td> <input class="numlength" type="number" id="num" value="1" ></td>
                    <td>
                        Rs.{{item.get_total}}
                    </td>
                    <td>
                        <a href=""><i class="fa fa-times" aria-hidden="true"></i></a>
                     
                    </td>
                </tr>
           
                {% endfor %}  -->
                {% for item in items %}
                
               
                <tr>
                    <td>
                        <img src="{{item.localProduct.localProductimage.url}}" alt="">
                    </td>
                    <td>{{item.localProduct.name}}</td>
                    <td>Rs.{{item.localProduct.price}}</td>
                    <td> <input class="numlength" type="number" id="num" value="{{item.quantity}}" ></td>
                    <td>
                        Rs.{{item.get_local_total}}
                    </td>
                    <td>
                        <a href=""><i class="fa fa-times remove" aria-hidden="true"></i></a>
                        <!-- <form action="" method="post">
                            <input type="submit" value="Remove">
                            {% csrf_token %}
                        </form> -->
                    </td>
                </tr>
           
                {% endfor %} 
                <!-- {% for item in items %}
                
               
                <tr>
                    <td>
                        <img src="{{item.specialProduct.specialProductimage.url}}" alt="">
                    </td>
                    <td>{{item.specialProduct.name}}</td>
                    <td>Rs.{{item.specialProduct.price}}</td>
                    <td> <input class="numlength" type="number" id="num" value="1" ></td>
                    <td>
                        Rs.{{item.get_special_total}}
                    </td>
                    <td>
                        <a href=""><i class="fa fa-times" aria-hidden="true"></i></a>
                   
                    </td>
                </tr>
           
                {% endfor %}  -->
                <!-- {% for item in items %}
                <tr>
                    <td>
                        <img src="{{item.comboPackage.productImage.url}}" alt="">
                    </td>
                    <td>{{item.comboPackage.productName}}</td>
                    <td>Rs.{{item.comboPackage.price}}</td>
                    <td> <input class="numlength" type="number" id="num" value="1" ></td>
                    <td>
                        Rs.{{item.get_combo_total}}
                    </td>
                    <td>
                        <a href=""><i class="fa fa-times" aria-hidden="true"></i></a>
                       
                    </td>
                </tr>
           
                {% endfor %}  -->
            </tbody>
        </table>
  <!-- <input type="submit" value="Remove"> -->
    </section>
<div id="newbox" class="container mt-5 mb-5">
    <div class="totalForm">
        
            <div class="total col-lg-6 col-md-6 col-12 container"> 
                <table width="100%">
                   
                    <thead>
                        
                        <tr>
                            <td><h5 class="totaltopic">Cart Totals</h5></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            <td class="mt-5">
                               
                                    <h6>Sub Total</h6>
                                    <h6>Vat (5%)</h6>
                                    
                                    <h6 class="high">Grant Total</h6>
                                    <h6 class="high" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">In USD</h6>
                            </td>
                          
                            <td>
                              <h6>Rs.{{order.get_cart_total}}</h6>
                              <h6>Rs.{{order.vat}} </h6>
                              
                              
                              <h6 class="high"> Rs.{{order.grant_total}}</h6>
                              <h6 class="high" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"> ${{order.convertDollar}}</h6>
                              
                             
                            </td>
                            
                        </tr>
                        
                        
                    </tbody>
                   
                </table>
                <div class="totalbtn">
                    <div id="paypal-button-container"></div>
                    <!-- <a href="{% url 'FoodApp:payment' %}" type="submit">Proceed to Checkout</a>/ -->
                </div>
            

            </div>
            
    </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=ATV7G4uVaAyFJ5b16GxQfp5VT_zG71sPujBRHxgJKvay5aP7e3Ek6G1wIjN6NKEM_Rh-9OP-0UvL3DOx&currency=USD"></script>

<script>
    var total = '{{order.convertDollar}}'
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        style: {
 layout: 'horizontal',
 fundingicons: 'true',
},
funding: {
 allowed: [ paypal.FUNDING.CARD ],
 disallowed: [ paypal.FUNDING.CREDIT ]
},
        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        // value: '88.44'
                        value: parseFloat(total).toFixed(2)
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                // Successful capture! For demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                makePayment()
                // Replace the above to show a success message within this page, e.g.
                // const element = document.getElementById('paypal-button-container');
                // element.innerHTML = '';
                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
        }


    }).render('#paypal-button-container');
</script>
<script>
    function makePayment(){
        const data = { cart_total: total };
        let url = "/payment"
fetch(url, {
  method: 'POST', // or 'PUT'
  headers: {
    'Content-Type': 'application/json',
    'X-CSRFToken': csrftoken
  },
  body: JSON.stringify(data),
})
.then(response => response.json())
.then(data => {
  console.log('Success:', data);
  
  alert("Payment made Succesfully..")
//   order = {'get_cart_total':0, 'get_itemtotal':0, 'get_local_total':0}
//   window.location.href="{% url 'FoodApp:home'%}"
})
.catch((error) => {
  console.log('Error:', error);
});
    }
    
</script>
{% endblock %}