{% extends 'FoodApp/base.html' %}
{% load static %}
{% block carttotal %}
    <div class="blogheads">
        <h1>Cart Total</h1>
        <p><a href="#"> Home >></a> <span>Cart Total</span> </p>
    </div>

     
    <section id="carttotal" class="container mt-3">
        <table width="100%">
            <thead>
                <tr >
                    <td>Product Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Total</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                 <!-- <tr>
                    <td>
                       <img src="{% static 'images/sam.png' %}" alt="">
                    </td>
                    <td>
                        <h6>
                            Samosa-Pakauda
                        </h6>
                    </td>
                    <td>
                        <h6>RS 400</h6>
                    </td>
                    <td>
                        <input class="numlength" type="number" id="num" value="1" >
                    </td>
                    <td>
                       <h6> Rs 800</h6>
                    </td>
                    <td>
                        <a href=""><i class="fa fa-times" aria-hidden="true"></i></a>
                      
                    </td>
                </tr> -->
                
                <!-- <tr>
                    <td>
                       <img src="{% static 'images/cat-6.png' %}" alt="">
                    </td>
                    <td>
                        <h6>
                           Caffe-Latte
                        </h6>
                    </td>
                    <td>
                        <h6>RS 300</h6>
                    </td>
                    <td>
                        <input class="numlength" type="number" id="num" value="1" >
                    </td>
                    <td>
                       <h6> Rs 600</h6>
                    </td>
                    <td>
                        <a href=""><i class="fa fa-times" aria-hidden="true"></i></a>
                    </td>
                </tr>  -->
                {% for item in cart %}
                
               
                <tr>
                    <td>
                        <img src="{{product.image.url}}" alt="">
                    </td>
                    <td>{{product.name}}</td>
                    <td>Rs.{{item.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td>
                        Rs.{{item.total_price}}
                    </td>
                    <td>
                        <form action="{% url 'FoodApp:cart_remove' product.id %}" method="post">
                            <input type="submit" value="Remove">
                            {% csrf_token %}
                        </form>
                    </td>
                </tr>
           
                {% endfor %}
            </tbody>
        </table>
  <!-- <input type="submit" value="Remove"> -->
    </section>
<div id="newbox" class="container mt-5 mb-5">
    <div class="totalForm">
        
            <div class="total col-lg-6 col-md-6 col-12 container"> 
                <table width="100%">
                    <thead>
                        <tr>
                            <td><h5 class="totaltopic">Cart Totals</h5></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="mt-5">
                               
                                    <h6>Sub Total</h6>
                                    <h6>Vat (5%)</h6>
                                    <hr>
                                    <h6 class="high">Grant Total</h6>
                            </td>
                            <td>
                              <h6> {{cart.get_total_price}}</h6>
                              <h6>Rs 200</h6>
                              <hr>
                              <h6 class="high">Rs 1200</h6>
                            </td>
                            
                        </tr>
                        
                        
                    </tbody>
                </table>
                <div class="totalbtn">
                    <a href="payment2.html" type="submit">Proceed to Checkout</a>
                </div>
            

            </div>
            
    </div>
</div>
{% endblock %}