{% extends 'FoodApp/base.html' %}
{% load static %}
{% block reserveTable %}
    <div class="blogheads">
        <h1>Make Reservation</h1>
        <p><a href="#"> Home >></a> <span>Reserve a table</span> </p>
    </div>
   
<section class="bannerReserve">
    <h2>Find your table for any occasion</h2>
    <div class="card-container">
        <div class="card-img">

        </div>
        <div class="cart-content">
            {% if messages %}
        <!-- <ul class="messages"> -->
            {% for message in messages %}
            <!-- <li style="list-style: none; color: brown;">{% if message.tags %} {% endif %}{{ message }}</li> -->
            <div class="alert alert-{{message.tags}}" role="alert">
                {{message}}
            </div>
    {% endfor %}
</ul>
{% endif %}
            <h3>Make Reservation</h3>
       
        
            <form action="{% url 'FoodApp:reserveTable' %}" method="post">
                {% csrf_token %}
                
                <div class="form-row">   
                    <select name="tableNo" id="">
                        <option value="select-hours">Select Your Table</option>
                        <option value="10">Table No 1</option>
                        <option value="10">Table No 2</option>
                        <option value="10">Table No 3</option>
                        <option value="10">Table No 4</option>
                        <option value="10">Table No 5</option>
                        <option value="10">Table No 6</option>
                        <option value="10">Table No 7</option>
                        <option value="10">Table No 8</option>
                        <option value="10">Table No 9</option>
                        <option value="10">Table No 10</option>
                    </select>   
                        
                        <input type="date" id="booktable" name="date">
                        <br>
                    <select name="selecthour" id="">
                        <option value="select-hours">Select Hour</option>
                        <option value="10">9AM to 11 AM</option>
                        <option value="10">12PM to 2PM</option>
                        <option value="10">3PM to 5PM</option>
                        <option value="10">6PM to 8PM</option>
                    </select>
                </div>
                <div class="form-row">
                    <input type="text" placeholder="Your Full Name" name="name">
                    <input type="email" placeholder="Your email Address" name="email">
                </div>
                <div class="form-row" >
                    
                    <div class="box" style="text-align: center;">
                        <select class="people" name="person"> 
                            <option value=""> <span class="fas fa-user"></span> 1 person</option>
                            <option value="">2 People</option>
                            <option value="">3 People</option>
                            <option value="">4 People</option>
                            <option value="">5 People</option>
                            <option value="">Larger Party</option>
                        </select>
                    </div>
                   
                </div>
                <input type="submit" value="Submit">
            </form>
           
        </div>
    </div>

</section>
{% endblock %}